* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;

    header {
        .container-fluid {
            .covid-nav {
                .covid {
                    padding: 10px 0;
                    font-size: 14px;
                    background-color: #233A95FF;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: lighter
                }
            }

            .second-nav {
                border-bottom: 0.2px solid rgb(205, 205, 205);

                ul {
                    border: none;

                    li {
                        a {
                            font-size: 14px;
                            font-weight: 200;
                            font-family: Arial, Helvetica, sans-serif;
                            color: rgb(107, 107, 107);
                        }
                    }
                }

                .left-second-nav {
                    padding: 2px;
                }

                .middle-second-nav {
                    padding: 11px 0;
                    font-size: 13px;

                    .slash {
                        color: rgb(205, 205, 205);
                    }

                    .numb {
                        color: #2BC7FBFF;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                .last-second-nav {
                    border-left: 1px solid rgb(205, 205, 205);

                    .drpdwnT {
                        border: none;
                        position: relative;
                        padding: 11px;
                        transition: height 0.3s ease-in-out;
                        transition-delay: 0.1s;

                        &:hover {
                            border: none;
                            color: #2BC7FBFF;
                        }

                        &:hover+.drpdwnM {
                            visibility: visible;
                            padding: 5px 34px;
                            text-align: left;
                            background: rgb(244, 244, 244);
                        }
                    }

                    .drpdwnM {
                        display: flex;
                        position: absolute;
                        overflow: hidden;
                        left: -20px;
                        top: 44px;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        visibility: hidden;


                        &:hover {
                            visibility: visible;
                            padding: 5px 34px;
                            text-align: left;
                            background: rgb(244, 244, 244);
                        }

                        a {
                            padding: 3px 0px;

                            &:hover {
                                color: #2BC7FBFF;
                            }
                        }

                    }

                }
            }
        }
    }
}