* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 2000px;
}

body header .container-fluid .covid-nav .covid {
  padding: 8px 0;
  font-size: 12.5px;
  background-color: #233A95FF;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body header .container-fluid .second-nav {
  border-bottom: 0.2px solid #cdcdcd;
}

body header .container-fluid .second-nav ul {
  border: none;
}

body header .container-fluid .second-nav ul li a {
  font-size: 13px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b6b6b;
  border: none;
  padding: auto 1px !important;
}

body header .container-fluid .second-nav ul li a:hover {
  color: #2BC7FBFF;
}

body header .container-fluid .second-nav .left-second-nav {
  margin-left: 8.33%;
}

body header .container-fluid .second-nav .left-second-nav a {
  padding: 12px 6px !important;
  font-size: 12px;
}

body header .container-fluid .second-nav .middle-second-nav {
  padding: 11px 0;
  font-size: 11px;
}

body header .container-fluid .second-nav .middle-second-nav .slash {
  color: #cdcdcd;
}

body header .container-fluid .second-nav .middle-second-nav .numb {
  color: #2BC7FBFF;
  font-size: 12px;
  font-weight: bold;
}

body header .container-fluid .second-nav .last-second-nav {
  border-left: 1px solid #cdcdcd;
}

body header .container-fluid .second-nav .last-second-nav .drpdwnT {
  border: none;
  position: relative;
  padding: 12px;
}

body header .container-fluid .second-nav .last-second-nav .drpdwnT:hover + .drpdwnM {
  visibility: visible;
  padding: 20px 34px;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body header .container-fluid .second-nav .last-second-nav .drpdwnM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  left: -20px;
  top: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  visibility: hidden;
}

body header .container-fluid .second-nav .last-second-nav .drpdwnM:hover {
  visibility: visible;
  padding: 20px 34px;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body header .container-fluid .second-nav .last-second-nav .drpdwnM a {
  padding: 3px 0px;
}

body header .container-fluid .second-nav .last-second-nav .drpdwnM a:hover {
  color: #2BC7FBFF;
}

body header .container-fluid .third-nav {
  padding: 24px 0;
  padding-left: 7%;
  display: inline;
}

body header .container-fluid .third-nav img {
  width: 160px;
}

body header .container-fluid .third-nav .logoTitle {
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0;
  opacity: 0.3;
  padding-left: 3.3%;
}
/*# sourceMappingURL=main.css.map */